virtual_machine:
    vhost:      app
    domain:     localhost
    vhostpath:  /var/www
    ip:         192.168.10.42
    port:       8080
    use_nfs:    true
    box:        precise64
    cpu:        1
    memory:     512

database:
    mysql:
        rootpassword: app
        user:         root
        password:     123
        name:         mysql-database
    postgresql:
        rootpassword: app
        user:         root
        password:     123
        name:         postgresql-database
    mongodb:
        name: mongo

environments:
    symfony: false
