$vhost                  = "app"
$domain                 = "localhost"
$vhostpath              = "/var/www"

$ip                     = "192.168.10.42"
$port                   = 8080
$use_nfs                = true
$base_box               = "precise64"

$database_rootpassword  = "app"
$database_user          = "root"
$database_password      = "123"
$database_name          = "database"

$database               = "mysql"

$cpu                    = "1"
$memory                 = "512"

######## ENVIRONMENTS ########
$symfony = false
