$vhost              = "app"
$domain             = "localhost"
$vhostpath          = "/var/www"

$ip                 = "192.168.10.42"
$port               = 8080
$use_nfs            = true
$base_box           = "precise64"

$mysql_rootpassword = "app"
$mysql_user         = "root"
$mysql_password     = "123"
$mysql_database     = "database"

$is_symfony_env     = true